/vendor/
/.env
.env.local
.env.production
.env.testing
!.env.example
/storage/uploads/**
/storage/signatures/**
/storage/pdf/**
/storage/backups/**
/storage/logs/**
/storage/cache/**
/storage/json/**
!/storage/**/.gitkeep
/.idea/
/.vscode/
Thumbs.db
.DS_Store
.vercel
